/*!RESETEANDO EL CSS*/
*{
    margin: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    width: 100%;
    display: block;
}

/**Variables Globales*/
:root{
    --ColorFondo-cabecera:#A3A656;
    --ColorFondo-Footer:#384001;
    --ColorFondo-Main-Section2:#F2F6F6;
    --ColorTitulo:#FFEFDF;

    --tipo-Main:'Romanesco', cursive;
    --tipo-regular:'Inter', sans-serif;
    --tipo-titulo1: 'Inter Black', sans-serif;
    --tipo-titulo2: 'Inter SemiBold', sans-serif;
    --hover-texto: #FFFF00;
    --hover-boton: #384001;
    --placeholder:#9E9A9A;
}

/**General*/

/*!Para centrar toda la pagina cuando se aleja (experimentando)*/
/*
body {
    margin: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.container {
    margin: 0 auto;
    box-sizing: border-box;
}
*/

.Header{
    position: relative;
    white-space: nowrap;
    display: block;
    height: 70px;
    padding-left: 70px;
    background-color: var(--ColorFondo-cabecera);
    font-family: var(--tipo-regular);
    font-size: 16px;
    overflow: hidden;    
}

.Main{
    display: block;
}


/*?MAIN*/
/**HEADER*/

.Header-container2>p, .Header-container2>div{
    display: inline-block;
}

.Header-container,.Header-container2{
    display: inline-block;
}


.Header-container{
    overflow: hidden;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    padding-top: 25px;
    
}

.Header-container2{
    overflow: hidden;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    padding-left: 10%;
}

.Header-container>p{
    display: inline-block;
    padding-right: 30px;
}

.Header-container>p:hover{
    color: var(--hover-texto);
    cursor: pointer;
}

.p1{
    font-size: 14px;
    position: relative;
    right: 10px;
    top: 3px;
}
.p1:hover{
    color:var(--hover-texto);
    cursor: pointer;
}
.p2{
    font-size: 14px;
    position: relative;
    top: 3px;
    left: 35px;
}

.Header-container2>div{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.Header-container-imagen1{
    display: inline-block;
    position: relative;
    top: 15px;
    right: 20px;
}
.Header-container2-imagen2{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 40px;
}

.Header-container2-imagen3{
    display: inline-block;
    position: relative;
    left: 40px;
    cursor: pointer;
}

.Header-imagen1{
    width: 40px;
}
.Header-imagen2{
    width: 40px;
}
.Header-imagen3{
    width: 13px;
}



/**Section 1*/

.Section1{
    height: 660px;
    width: auto;
    background-repeat: no-repeat;
    background-image: url(images/main.png);
    
}
.Section1-div h1{
    font-family: var(--tipo-Main);
    font-size: 96px;
}
.Section1-div p{
    font-family: var(--tipo-titulo2);
    font-size: 33px;
}
.Section1-div{
    position: relative;
    top: 20%;
    left: 13%;
}

/**Section 2*/

.Section2{
    height: 90px;
    font-family: var(--tipo-regular);
    font-size: 16px;
    background-color: var(--ColorFondo-Main-Section2);
    padding-left: 25%;
}
.Section2 div {
    display: inline-block;
    position: relative;
    top: calc(100% - 66%);
    
}
input{
    border: none;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 20px;
}
input::placeholder{
    padding-left: 10px;
}

/**Section 3*/

.Section3{
    height: 650px;
}

.Section3-container{
    position: relative;
    white-space: nowrap;
    left: 75px;
    top: 100px;
    right: 75px;
}

.Section3-article{
    
    display: inline-block;
    height: 450px;
    width: 300px;
    margin-right: 135px;
    border-radius: 15px 15px 0 0;
}

/*
si tengo un height fijado y necesito que el texto baje como al centro
necesito añadir un padding-top, pero el problema es que se suma los pixeles del padding
con los pixeles del height, si no queremos que pase eso usamos:
box-sizing: border-box;

*/
.article-titulo{
    font-family: var(--tipo-titulo2);
    font-size: 32px;
    background-color: var(--ColorFondo-cabecera);
    color: var(--ColorTitulo);
    box-sizing: border-box;
    height: 75px;
    text-align: center;
    padding-top: 15px;
}

.article-texto{
    padding-top: 15px;
    font-family: var(--tipo-regular);
    font-size: 16px;
}
.article-precio{
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 10px;
    font-family: var(--tipo-titulo2);
    font-size: 32px;
    display: inline-block;
    padding-right: 22%;
    
}
button{
    display: inline-block;
    position: relative;
    bottom: 10px;
    border: none;
    font-family: var(--tipo-titulo2);
    font-size: 16px;
    border-radius: 35px;
    width: 150px;
    height: 45px;
    color: var(--ColorTitulo    );
    background-color: var(--ColorFondo-cabecera);
    cursor: pointer;
}
button:hover{
    background-color: var(--ColorFondo-Footer);
}

/**Section 4*/


.Section4{
    height: 770px;
}
.Section4-container{
    position: relative;
    white-space: nowrap;
    top: 100px;
    right: 100px;
    left: 150px;
}
.Section4>h1{
    font-family: var(--tipo-titulo2);
    font-size: 32px;
    text-align: center;

}
.section4-article{
    display: inline-block;
    height: 500px;
    width: auto;
    margin-right: 135px;
    border-radius: 15px 15px 0 0;
}

.Section4-image{
    height: 280px;
    overflow-y: hidden;

}

.Section4-image>img{
    position: relative;
    bottom: 190px;
    left: 70px;
    width: 120px;
}

.dibujo{
    overflow: hidden;
    width: 233px;
    height: 233px;
    border-radius: 50%;
    border: 10px solid var(--ColorFondo-Footer);
} 
.Section4-title{
    position: relative;
    font-family: var(--tipo-titulo2);
    font-size: 32px;
    bottom: 20px;
    text-align: center;
}
.section4-article button{
    font-size: 15px;
    display: block;
    width: 100%;
}

.section4-article ul{
    font-family: var(--tipo-regular);
    font-size: 14px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    padding-left: 20px;
    position: relative;
  }
  
  ul li::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 5px;
    width: 5px;
    height: 5px;
    background-color: rgb(0, 0, 0); /* Puedes ajustar el color según tus necesidades */
    border-radius: 50%;
  }
  
  /* Estilos adicionales para la lista */
  ul {
    margin-top: 10px;
    margin-left: 50px;
  }
  
  ul li {
    margin-bottom: 5px;
    color: #333;
  }

/*?FOOTER*/

.Footer {
    display: block;
    position: relative;
    white-space: nowrap;
    top: calc(100% - 60%);
    height: 97px;
    width: 100%; 
    overflow: hidden;
    font-family: var(--tipo-regular);
    font-size: 16px;
    background-color: var(--ColorFondo-Footer);
    color: var(--ColorFondo-cabecera);
}
.Footer-container, .Footer-container2{
    display: inline-block;
    height: 100%;
}
.Footer-container>p, .Footer-container2>p, .Footer-container2>div{
    display: inline-block;
}
.Footer-container{
    box-sizing: border-box;
    width: 70%;
    padding-top: 40px;
    padding-left: 70px;
}
.Footer-container>p{
    margin-right: 70px;
}

.Footer-container2{
    box-sizing: border-box;
    width: 30%;
    padding-left: 50px;
    padding-top: 15px;
}
.Footer-container2>p{
    padding-right: 20px;
}
.Footer-container>p:hover{
    color: var(--hover-texto);
    cursor: pointer;
}
.Footer-container2>div{
    position: relative;
    top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
    cursor: pointer;
}


